.theme-default #intro-card {
  border: 3px solid var(--color_accent);
  outline: 3px solid var(--color_black);
}

.theme-default #intro-card #profile-picture.illustration {
  display: none;
}

.theme-default #intro-card #author-name,
.theme-default #intro-card a {
  color: var(--color_accent);
}

.theme-default button.theme-selection#default {
  color: var(--color_accent);
  font-weight: bold;
  border-color: var(--color_accent);
}
