.theme-neon {
  --card_background: var(--color_purple-darker);
  --font_headings_family: Audiowide;
  --font_body_family: Audiowide;
}

.theme-neon #intro-card {
  background-image: linear-gradient(
      var(--color_purple-dark) 1px,
      transparent 1px
    ),
    linear-gradient(to right, var(--color_purple-dark) 1px, transparent 1px);
  background-size: 15px 15px;
}

.theme-neon #intro-card #profile-picture.photo {
  display: none;
}

.theme-neon #intro-card #profile-picture {
  filter: brightness(200%);
  mix-blend-mode: difference;
  transform: rotate(7deg) scale(1.25);
}

.theme-neon #intro-card #title {
  color: var(--color_neon-red);
  text-shadow: 0 0 10px var(--color_neon-red);
  text-align: right;
  padding-right: 10px;
}
.theme-neon #intro-card #title #author-name {
  text-align: right;
}

.theme-neon #intro-card #title .job *:first-child {
  color: var(--color_neon-orange);
  text-shadow: 0 0 10px var(--color_neon-orange);
}

.theme-neon #intro-card #title .job *:nth-child(2) {
  color: var(--color_neon-yellow);
  text-shadow: 0 0 10px var(--color_neon-yellow);
}

.theme-neon #intro-card #facts {
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: right;
  border: 5px solid var(--color_neon-pink);
  box-shadow: 0 0 10px var(--color_neon-pink);
  outline-offset: -10px;
  outline: 2px dashed var(--color_white);
  padding: 12px;
}

.theme-neon #intro-card #facts li {
  color: var(--color_neon-red);
  text-shadow: 0 0 10px var(--color_neon-red);
}

.theme-neon #intro-card #facts li:nth-child(1) *:nth-child(2) {
  color: var(--color_neon-orange);
  text-shadow: 0 0 10px var(--color_neon-orange);
}
.theme-neon #intro-card #facts li:nth-child(2) *:nth-child(2) {
  color: var(--color_neon-yellow);
  text-shadow: 0 0 10px var(--color_neon-yellow);
}
.theme-neon #intro-card #facts li:nth-child(3) *:nth-child(2) {
  color: var(--color_neon-green);
  text-shadow: 0 0 10px var(--color_neon-green);
}
.theme-neon #intro-card #facts li:nth-child(4) *:nth-child(2) {
  color: var(--color_neon-blue);
  text-shadow: 0 0 10px var(--color_neon-blue);
}
.theme-neon #intro-card #facts li:nth-child(5) *:nth-child(2) {
  color: var(--color_neon-purple);
  text-shadow: 0 0 10px var(--color_neon-purple);
}

.theme-neon #intro-card #facts #open-to-work {
  text-align: center;
}
.theme-neon #intro-card #facts #open-to-work span {
  display: inline-block;
  color: white;
  text-shadow: 0 0 10px var(white);
}

.theme-neon button.theme-selection {
  background-color: var(--color_purple-darker);
  background-image: linear-gradient(
      var(--color_purple-dark) 1px,
      transparent 1px
    ),
    linear-gradient(to right, var(--color_purple-dark) 1px, transparent 1px);
  background-size: 15px 15px;
  border-color: var(--color_neon-red);
  color: var(--color_neon-red);
  text-shadow: 0 0 10px var(--color_neon-red);
  box-shadow: 0 0 10px var(--color_neon-red);
}

.theme-neon button.theme-selection#neon {
  border-color: var(--color_neon-orange);
  color: var(--color_neon-orange);
  text-shadow: 0 0 10px var(--color_neon-orange);
  box-shadow: 0 0 10px var(--color_neon-orange);
}
