@font-face {
  font-family: "Audiowide";
  src: url("/fonts/Audiowide-Regular.woff2");
}


@font-face {
  font-family: "Megrim";
  src: url("/fonts/Megrim-Regular.woff2");
}

@font-face {
  font-family: "Titan One";
  src: url("/fonts/TitanOne-Regular.woff2");
}
