---
import {
  AUTHOR_NAME,
  JOB_TITLE_FUN,
  JOB_TITLE,
  OPEN_TO_WORK,
} from "../../config";
---

<div id="intro-card">
  <img
    id="profile-picture"
    src="/JordanHeadshot.avif"
    alt="stylized illustration of female with brown hair and blue glasses"
    class="photo"
  />
  <img
    id="profile-picture"
    src="/JordanIllustration.avif"
    alt="stylized illustration of female with brown hair and blue glasses"
      class="illustration"
  />
  <div id="title">
    <h1 id="author-name">{AUTHOR_NAME}</h1>
    <p class="job">
      <span class="job-title">{JOB_TITLE}</span>
      <span class="fun-title">{JOB_TITLE_FUN}</span>
    </p>
  </div>
  <div id="facts">
    <ul>
      <li class="pronouns">
        <span>Pronouns:</span>
        <span>she/her</span>
      </li>
      <li class="website">
        <span>Life:</span>
        <a href="https://www.instagram.com/mjordancodes/">Instagram</a>
      </li>
      <li class="website">
        <span>Work Experience:</span>
        <a href="https://www.linkedin.com/in/mjordancodes/">LinkedIn</a>
      </li>
      <li class="website">
        <span>Experiments:</span>
        <a href="https://codepen.io/mjordancodes">CodePen</a>
      </li>
      <li class="website">
        <span>Code:</span>
        <a href="https://github.com/mjordancodes">GitHub</a>
      </li>
      <!-- If OPEN_TO_WORK.... show this -->
      <li id="open-to-work">
        <p>
          I'm open to work! Let's chat:
          <span>hi (at) mjordan (dot) codes</span>
        </p>
      </li>
    </ul>
  </div>

  <style lang="scss">
    #intro-card {
      font-family: var(--font_body_family);
      font-size: var(--font_body_size);
      background: var(--card_background);
      background-size: var(--card_background-size);
      animation: var(--card_animation);
      display: grid;
      grid-template-rows: 200px 1fr;
      grid-template-areas:
        "img"
        "name"
        "facts";
      #profile-picture {
        grid-area: img;
        margin: 0 auto;
        align-self: end;
        max-width: 100%;
        max-height: 100%;
        &.photo {
          aspect-ratio: 1/1;
          object-fit: cover;
          object-position: center -25px;
        }
        &.illustration {
        }
      }
      #title {
        grid-area: name;
        font-family: var(--font_headings_family);
        margin: 20px 0;
        #author-name {
          text-align: center;
          font-size: var(--font_headings_size);
          margin: 0;
        }
        .job {
          margin: 0;
          display: flex;
          justify-content: space-between;
        }
      }

      .job *:nth-child(2) {
        display: inline-block;
        transform: rotate(0.5turn);
      }
      #facts {
        grid-area: facts;
        padding: 10px;
        ul {
          list-style-type: none;
          margin: 0;
          padding: 0;
          li {
            padding-bottom: 5px;
          }
          #open-to-work {
            text-align: center;
            span {
              display: inline-block;
            }
          }
        }
      }
    }

    @media screen and (min-width: 600px) {
      #intro-card {
        grid-template-rows: auto 1fr;
        grid-template-columns: 1fr 2fr;
        grid-template-areas:
          "img name"
          "img facts";
        width: clamp(600px, 75%, 750px);
      }
    }
  </style>
</div>
