---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body id="body" class="theme-default">
    <!-- <Header title={SITE_TITLE} /> -->
    <main id="main">
      <slot />
    </main>
    <div id="controls">
      <button id="default" class="theme-selection">Default</button>
      <button id="rainbow" class="theme-selection">Rainbow</button>
      <button id="dark" class="theme-selection">Dark</button>
      <button id="neon" class="theme-selection">Neon</button>
    </div>
    <Footer />

    <script>
      const themeButtons = document.getElementsByClassName("theme-selection");
      const bodyContainer = document.getElementById("body");

      function handleClick() {
        let themeClicked = this.getAttribute("id");

        bodyContainer.classList.remove(
          "theme-default",
          "theme-rainbow",
          "theme-dark",
          "theme-neon"
        );

        switch (themeClicked) {
          case "default":
            bodyContainer.classList.add("theme-default");
            break;
          case "rainbow":
            bodyContainer.classList.add("theme-rainbow");
            break;
          case "dark":
            bodyContainer.classList.add("theme-dark");
            break;
          case "neon":
            bodyContainer.classList.add("theme-neon");
            break;
        }
      }

      for (let i = 0; i < themeButtons.length; i++) {
        themeButtons[i].addEventListener("click", handleClick);
      }
    </script>

    <style>
      body {
        display: grid;
        grid-template-areas:
          "Header"
          "Main"
          "Controls"
          "Footer";
        grid-template-rows: auto 1fr auto;
        min-height: 100vh;
        height: auto;
        max-width: 100vw;
      }
      main {
        grid-area: Main;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      #controls {
        grid-area: Controls;
        display: flex;
        justify-content: space-around;
        margin: 0 auto 25px;
        width: 100%;
        max-width: 600px;
      }
    </style>
  </body>
</html>
